* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


#navbar {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}


#navbar a:hover {
    color: #4CAF50;
}


section {
    padding: 60px 20px;
    text-align: center;
}


#home {
    background-color: #4CAF50;
    color: white;
}

#about {
    background-color: #f2f2f2;
    color: #333;
}

#projects {
    background-color: #ffffff;
    color: #333;
}

#contact {
    background-color: #f2f2f2;
    color: #333;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
   font-size: 14px;
}


h2 {
    margin-bottom: 15px;
}

p {
   font-size: 16px;
}