body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #0f0f0f;
    color: #f5f5f5;
}

/* Navbar */
nav {
    background-color: #000;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222;
}

nav h2 {
    margin: 0;
    color: #ff8c00;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 15px;
}

nav ul li a:hover {
    color: #ff8c00;
}


.hero {
    padding: 90px 20px;
    text-align: center;
    background: linear-gradient(135deg, #000, #111);
}

.hero h1 {
    font-size: 40px;
}

.hero span {
    color: #ff8c00;
}

.hero p {
    font-size: 18px;
    color: #ccc;
    max-width: 650px;
    margin: auto;
}

/* Buttons */
.hero-buttons {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    margin: 8px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.btn-primary {
    background-color: #ff8c00;
    color: #000;
}

.btn-primary:hover {
    background-color: #ffa733;
}

.btn-outline {
    border: 1px solid #ff8c00;
    color: #ff8c00;
}

.btn-outline:hover {
    background-color: #ff8c00;
    color: #000;
}

/* Sections */
section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #ff8c00;
}

.center-text {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

/* Portfolio */
.portfolio {
    display: grid;
    
    gap: 25px;
}

.card {
    background-color: #111;
    border-radius: 16px;
    padding: 25px;
    border: 1px solid #222;
    transition: transform 0.3s, border 0.3s;
}

.card:hover {
   
    border-color: #ff8c00;
}

.card p {
    color: #bbb;
    font-size: 14px;
}

/* Social */
.social {
    text-align: center;
}

.social a {
    color: #ff8c00;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.social a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #000;
    border-top: 1px solid #222;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #888;
}